<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lang="http://www.springframework.org/schema/lang"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-2.5.xsd">

	<!--
		bean id="validationService"
		class="es.ine.tich.debug.service.impl.ValidationServiceImpl"> </bean
	

	<bean id="loadSurvey" class="es.ine.installer.LoadSurvey">
		<property name="surveyBackofficeService" ref="surveyBackofficeService" />
		<property name="surveyName" value="TICH 2011" />
	</bean>
-->
	<bean id="installerExecuter" class="net.softforlife.klich.JSF.installer.InstallerExecuter">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="initOnStartup" value="true" />
		<property name="sqlScriptProcessor" ref="sqlScriptProcessor" />
	</bean>

	<!-- AUTO INSTALLER -->
	<bean id="sqlScriptProcessor" class="net.softforlife.klich.JSF.installer.SqlScriptProcessor">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="initOnStartup" value="true" />
		<property name="sqlScripts">
			<list>
				<value>classpath:/META-INF/mysql_init.sql</value>
			</list>
		</property>
		<property name="standAloneSqlStartList">
			<list> <!-- Esta opción es para Bases de Datos HSQL -->
				<value>SET SCRIPTFORMAT BINARY</value>
			</list>
		</property>
	</bean>

</beans>