<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       					http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-2.5.xsd">
						
	<!-- SIRVE PARA DECIRLE QUE LEA LOS @Service DEL PAQUETE INDICADO, PARA QUE SE INSTANCIEN LAS CLASES. -->
	<context:component-scan base-package="net.softforlife.klich.service" />
			
	<bean id="geopointService"
		class="net.softforlife.klich.service.impl.GeopointServiceImpl">
		<property name="geopointDAO" ref="geopointDAO" />
		<property name="statusDAO" ref="statusDAO" />
	</bean>		
	
	<bean id="trackService"
		class="net.softforlife.klich.service.impl.TrackServiceImpl">
		<property name="trackDAO" ref="trackDAO" />
	</bean>		
	
	<bean id="deviceService"
		class="net.softforlife.klich.service.impl.DeviceServiceImpl">
		<property name="deviceDAO" ref="deviceDAO" />
	</bean>			
	
	<bean id="viewMessageService" class="net.softforlife.klich.service.msg.ViewMessageServiceImpl">
		<property name="userService" ref="userService" />
	</bean>	
	
	<bean id="userService" class="net.softforlife.klich.service.impl.UserServiceImpl">
		<property name="passwordEncoder">
			<bean
				class="org.springframework.security.providers.encoding.Md5PasswordEncoder" />
		</property>
		<property name="userDAO" ref="userDAO" />
		<property name="roleDAO" ref="roleDAO" />
		<property name="securityService" ref="securityService" />
	</bean>	
	
	<bean id="securityService" class="net.softforlife.klich.service.impl.SecurityServiceImpl">
		<property name="encryptor" ref="strongEncryptor" />
	</bean>
	
	<bean id="userDetailsService" class="net.softforlife.klich.service.security.UserDetailsServiceImpl">
		<property name="userManager">
			<ref bean="userService" />
		</property>
	</bean>	
	
	<!-- Security -->
	<bean id="strongEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
		<property name="algorithm">
			<value>PBEWithMD5AndDES</value>
		</property>
		<property name="password">
			<value>cr0n05</value>
		</property>
	</bean>	
	
	<bean id="langService" class="net.softforlife.klich.service.impl.LanguageServiceImpl">
		<property name="userService" ref="userService" />
		<property name="fileMessageSource" ref="fileMessageSource" />
		<property name="databaseMessageSource" ref="databaseMessageSource" />
		<property name="i18nMessageDAO" ref="i18nMessageDAO" />
		<property name="languageDAO" ref="languageDAO" />
		<property name="allowedLocales">
			<list>
				<bean id="locale_es" class="java.util.Locale">
					<constructor-arg value="es" />
				</bean>
				<bean id="locale_en" class="java.util.Locale">
					<constructor-arg value="en" />
				</bean>
				<bean id="locale_eu" class="java.util.Locale">
					<constructor-arg value="eu_es" />
				</bean>
				<bean id="locale_ga" class="java.util.Locale">
					<constructor-arg value="gl_es" />
				</bean>
				<bean id="locale_ca" class="java.util.Locale">
					<constructor-arg value="ca_es" />
				</bean>
				<bean id="locale_va" class="java.util.Locale">
					<constructor-arg value="va_es" />
				</bean>
			</list>
		</property>
	</bean>	
	
	<bean id="fileMessageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- <value>cuestionario/Preguntas2010</value>-->
				<value>cuestionario/Preguntas2011</value>
				<value>messages</value>
				<value>cuestionario/escuchas/Escuchas2010</value>
				<value>cuestionario/inspecciones/Inspecciones2011</value>
				<value>validation/validationmessages</value>
				<!--<value>messagesJSF</value>-->
			</list>
		</property>
	</bean>	
	
	<bean id="databaseMessageSource" class="net.softforlife.klich.persistence.i18n.DatabaseMessageSource">
		<constructor-arg index="0">
			<ref bean="i18nMessageDAO" />
		</constructor-arg>
	</bean>
	
	<bean id="statusService" class="net.softforlife.klich.service.impl.StatusServiceImpl">
	</bean>	
						
</beans>
						